*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* RESET */
/* CONTENITORE-prova altezza/background*/
.container{
  width: 60%;
  margin: 10px auto;
  background-color: lightgrey;
}
/* /CONTENITORE */
/* INTESTAZIONE*/
.head{
  height: 50px;
  background-color: pink;
}
/* /INTESTAZIONE*/
.empty{
  height: 300px;
  background-color: yellow;
  margin: 10px 0;
}
.full{
  background-color: lightblue;
}
.full-head{
  height: 25px;
  border-bottom: 5px solid blue;
}
