*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* RESET */
/* CONTENITORE-prova altezza/background*/
.container{
  width: 60%;
  margin: 10px auto;
  height: 1000px;
  background-color: lightgreen;
}
/* /CONTENITORE */
/* INTESTAZIONE*/
.head{
  height: 50px;
  background-color: pink;
  margin: 10px 0;
}
/* /INTESTAZIONE*/
